<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.DateCalcMapper">

	<select id="selectAll" resultType="com.example.demo.model.DateCalculation">
		SELECT
			*
		FROM
			datecalc
	</select>
	
	<select id="selectOne" resultType="com.example.demo.model.DateCalculation">
		SELECT
			*
		FROM
			datecalc
		WHERE
			dateId = #{dateId}
	</select>
	
	<insert id="insert">
		INSERT INTO datecalc (
			dateId,
			dateName,
			year,
			month,
			day)
	
		VALUES (
			#{dateId},
			#{dateName},
			#{year},
			#{month},
			#{day}
			)
	</insert>
	
	<update id="update">
		UPDATE
			datecalc
		SET
			dateName = #{dateName},
			year = #{year},
			month = #{month},
			day = #{day}
		WHERE
			dateId = #{dateId}
	</update>
	
	<delete id="delete">
		DELETE FROM
			datecalc
		
		WHERE
			dateId = #{dateId}
			
	</delete>
</mapper>